@mixin alert-variant($background, $border, $color) {
    color: $color;
    @include gradient-bg($background);
    border-color: $border;
  
    .alert-link {
      color: lighten($color, 99%);
    }
}
  