<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary pt-4 @@classes">
        <div class="container position-relative">
            <div class="navbar-collapse collapse mr-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="@@path/index.html">
                                <img src="@@path/assets/img/brand/light.svg" alt="Volt logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item mr-2">
                        <a href="@@path/pages/dashboard/dashboard.html" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="@@path/pages/examples/sign-in.html" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="@@path/pages/examples/sign-up.html" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="@@path/pages/examples/lock.html" class="nav-link">Lock</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center ml-auto">
                <a href="https://themesberg.com/product/admin-dashboard/volt-bootstrap-5-dashboard" target="_blank" class="btn btn-secondary text-dark mr-md-3"><span class="fas fa-download mr-2"></span> Download Free</a>
                <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/getting-started/quick-start/" target="_blank" class="btn btn-outline-soft d-none d-lg-block"><span class="fas fa-book mr-2"></span> Docs v1.2</a>
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>