<div class="row">
    <div class="col-12"><h2 class="mb-4 mb-lg-5">Front Pages</h2></div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/landing-app.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/landing-app.jpg" alt="App landing preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">App Landing<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/landing-freelancer.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/landing-freelancer.jpg" alt="Freelancer landing preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Freelancer Landing<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/landing-crypto.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/landing-crypto.jpg" alt="Crypto landing preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Crypto Landing<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/about.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/about.jpg" alt="About page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">About<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/team.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/team.jpg" alt="Team page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Team<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/profile.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/profile.jpg" alt="About me page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Profile<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/support.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/support.jpg" alt="Support page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Support<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/support-topic.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/support-topic.jpg" alt="Support topic page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Support Topic<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/careers.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/careers.jpg" alt="Careers page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Careers<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/career-single.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/career-single.jpg" alt="Career single page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Career Single<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/blog.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/blog.jpg" alt="Blog page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Blog<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/blog-post.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/blog.jpg" alt="Blog post page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Blog post<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/pricing.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/pricing.jpg" alt="Pricing page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Pricing<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/services.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/services.jpg" alt="Services page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Services<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/contact.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/contact.jpg" alt="Contact page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Contact<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/terms.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/terms.jpg" alt="Terms page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Terms<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/legal.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/legal.jpg" alt="Legal page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Legal<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/sign-in.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/sign-in.jpg" alt="Sign in page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Sign in<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/sign-up.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/sign-up.jpg" alt="Sign up page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Sign up<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/forgot-password.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/forgot-password.jpg" alt="Forgot password page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Forgot Password<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/reset-password.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/reset-password.jpg" alt="Reset password page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Reset Password<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/blank.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/blank-page.jpg" alt="Blank page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Blank Page<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/maintenance.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/maintenance.jpg" alt="Maintenance page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Maintenance<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/coming-soon.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/coming-soon.jpg" alt="Coming soon page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Coming soon<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/404.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/404.jpg" alt="404 not found error page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">404 not found<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/500.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/500.jpg" alt="500 server error page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">500 server error<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-4 mb-lg-5">Dashboard</h2>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/account.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/account.jpg" alt="Account page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Overview<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/settings.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/settings.jpg" alt="Settings page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Settings<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/my-items.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/items.jpg" alt="My Items page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">My Items<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/edit-item.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/edit-item.jpg" alt="Edit Item page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Edit Item<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/security.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/security.jpg" alt="Security page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Security<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/invoice.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/invoice.jpg" alt="Invoice page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Invoice<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/billing.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/billing.jpg" alt="Billing page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Billing<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/messages.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/messages.jpg" alt="Messages page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Messages<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="./html/dashboard/single-message.html" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="./assets/img/presentation/all-pages/single-message.jpg" alt="Single Message page preview">
            <div class="text-center show-on-hover">
                <h6 class="m-0 text-center text-white">Single Message<span class="fas fa-external-link-alt ml-2"></span></h6>
            </div>
        </a>
    </div>
</div>