<!-- Core -->
<script src="@@path/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="@@path/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="@@path/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="@@path/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Jarallax -->
<script src="@@path/vendor/jarallax/dist/jarallax.min.js"></script>

<!-- Smooth scroll -->
<script src="@@path/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Count up -->
<script src="@@path/vendor/countup.js/dist/countUp.umd.js"></script>

<!-- Notyf -->
<script src="@@path/vendor/notyf/notyf.min.js"></script>

<!-- Charts -->
<script src="@@path/vendor/chartist/dist/chartist.min.js"></script>
<script src="@@path/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Datepicker -->
<script src="@@path/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Simplebar -->
<script src="@@path/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="@@path/assets/js/volt.js"></script>
